.card{
    position: relative;
    width: 80%;
    margin: 0 auto;
    min-height: 60vh;
    top:15vh;
}
.polishCard{
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    padding: 10px;
    width: 100%;
    border: 1px solid black;
    box-shadow: 0 0 1em gray;
}
.englishCard{
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    padding: 10px;
    width: 100%;
    border: 1px solid black;
    box-shadow: 0 0 1em gray;
}
.card__info{
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
}
.card__txt{
    cursor: pointer;
    flex-grow: 8;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.card__arrow{
    position: absolute;
    cursor: pointer;
    display: block;
    padding: 15px;
    top:50%;
}
.left{
    left: 2%;
}
.right{
    right: 2%;
}


.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}
.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

/* back of card -cover */
.card .back {
    transition: all ease-in 0.2s;
    transition-delay:0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}

label{
    height: 40px;
    cursor: pointer;
}
