
.nav__container{
    padding: 5px;
    width: 100%;
    background-color: royalblue;
}
.nav{
    padding: 10px;
    margin-left: 20px;
}
.nav__items{
    display: flex;
    list-style: none;
}
.nav__item{
    flex-basis: 20%;
    text-transform: uppercase;
    font-size: 12px;

}
.nav__item a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    padding-bottom: 5px;
    font-weight: bold;
    transition: 0.3s;
}
a.active{
    color: white;
    border-bottom: 3px solid white;
}

.nav__user{
    position: absolute;
    top: 5px;
    right: 5px;
}
