.edit{
    height: 60vh;
    width: 60vw;
    text-align: center;
    border: solid 5px royalblue;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;

}
.edit__title{
    font-size: 36px;
    padding: 20px;
}


.edit__btn{
    width: 200px;
    font-weight: bold;
    margin: 10px auto;
    border:solid 2px royalblue ;
    color: royalblue;
    background-color: white;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;

}
.edit__btn:hover{
    color: white;
    border: white solid 2px;
    background-color: royalblue;
}
